
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    color: #0A1A2F;
}

header {
    text-align: center;
    padding: 50px 20px;
}

.hero {
    height: 300px;
    background: #0A1A2F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}
